nav {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-position: 20px auto;
    background-size: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

nav::before {
    content: "Image for the Hbnb Logo";
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media all and (max-width: 768px) {
    nav {
        max-height: 60px;
        max-width: 100%;
        border-bottom: 1px solid #CCCCCC;
        background-image: url(../images/logo.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
