.places {
    text-align: center;
}

.places>h1 {
    text-align: left;
    margin: 20px 10px;
    font-size: 30px;
}

article {
    width: 360px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    display: inline-block;
    text-align: right;
}

article>h2 {
    font-size: 30px;
    text-align: center;
    margin-right: 40px;
    display: inline-block;
}

article:nth-child(4) {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Task 8 */
.price_by_night {
    color: #FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 10px 0;
    margin-bottom: 5px;
    display: inline-block;
}

.information {
    height: 80px;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    text-align: center;
    /*Background*/
    padding-top: 55px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center top;
}

.max_guest {
    background-image: url(../images/icon_group.png);
}

.number_rooms {
    background-image: url(../images/icon_bed.png);
}

.number_bathrooms {
    background-image: url(../images/icon_bath.png);
}

.user,
.description {
    text-align: left;
    margin-top: 10px;
}

.container {
    padding-bottom: 30px;
}
